[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-plugins/dotbot-eopkg"]
	path = dotbot-plugins/dotbot-eopkg
	url = https://github.com/niklas-heer/dotbot-eopkg
	ignore = untracked
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "prezto-contrib"]
	path = prezto-contrib
	url = https://github.com/belak/prezto-contrib
