[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-plugins/dotbot-eopkg"]
	path = dotbot-plugins/dotbot-eopkg
	url = https://github.com/niklas-heer/dotbot-eopkg
	ignore = untracked
